
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed; /* Fix the background image */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    overflow-y: auto;
    padding-bottom: 70px;
    
}


.main-container {
    max-width: 800px; /* Increased maximum width */
    padding: 60px; /* More padding for a spacious feel */
    border-radius: 24px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center; /* Center text */
    background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
   backdrop-filter: blur(5px); /* Subtle blur effect */
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
        } 

        .main-container:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
        }

.logo {
    width: 300px; /* Increased logo size to 200px */
    margin-bottom: 10px; /* More space below the logo */
}

h1 {
    font-size: 32px; /* Larger font for the heading */
    margin-bottom: 30px; /* Space below the heading */
    color: #333; /* Darker text color */
}

.search-menu .input-group {
    border-radius: 24px; /* Rounded edges for the search input */
    overflow: hidden; /* Ensure no overflow on the edges */
    width: 100%; /* Full width */
}

.form-control {
    border: 2px solid #ccc; /* Light border */
    border-radius: 0; /* No rounded edges */
    padding: 15px 30px; /* Increased padding for a larger input field */
    font-size: 18px; /* Slightly larger text */
    width: 100%; /* Make the input take full width */
    min-width: 400px; /* Set a minimum width for the input */
}

.btn-primary {
    border: none; /* No border */
    background: #092653; /* Google blue */
    color: white; /* White text */
    padding: 15px 30px; /* Increased padding for the button */
    border-radius: 0; /* No rounded edges */
    font-size: 18px; /* Larger button text */
    transition: background 0.3s; /* Transition effect */
}

.btn-primary:hover {
    background: #ac0000; /* Darker blue on hover */
}

#results-container {
    margin-top: 30px; /* More space above results */
}
        /* Results container styling */
        .results-container {
    max-width: 1080px;
    background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent */
    padding: 30px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    backdrop-filter: blur(5px); /* Subtle blur effect */
}

/* Result card styling */
.result-card {
    border-radius: 8px; /* Rounded corners */
    color: #fff; /* Text color */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.result-card:hover {
    transform: translateY(-10px); /* Hover effect */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

/* Add specific color classes for different card colors */
.card-blue {  background: linear-gradient(to right, #373b44, #4286f4) !important; }
.card-green {  background: linear-gradient(to right, #0a504a, #38ef7d) !important; }
.card-red { background: linear-gradient(to right, #493240, #f09) !important;}
.card-orange {background: linear-gradient(to right, #a86008, #ffba56) !important;}
.card-purple {background: linear-gradient(to right, #0a504a, #9910b4) !important;}
.card-teal {  background: linear-gradient(to right, #0a504a, #1abc9c) !important;}

.result-card p {
    margin: 10px 0; /* Space between paragraphs */
}



/* Status styles */
.status-expired {
    color: #dc3545; /* Red for expired */
    font-weight: bold;
}

.status-ok {
    color: #28a745; /* Green for OK */
    font-weight: bold;
}

/* Link styles */
.card-text a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, transform 0.2s; /* Transition for hover */
}

.card-text a:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

        #error-message {
            color: #b30000;
            font-weight: bold;
            margin-top: 10px;
        }

        #loading-message {
            font-weight: bold;
            margin-top: 10px;
        }

        /* Responsive design adjustments */
        @media (max-width: 768px) {
            .main-container {
                padding: 20px; /* Reduce padding on mobile */
            }

            .form-control, .btn-primary {
                min-height: 40px; /* Adjust for mobile */
            }

            .result-card {
                padding: 15px; /* Adjust padding in cards for mobile */
            }

            .result-card p {
                font-size: 0.9em; /* Slightly smaller font size on mobile */
            }
        }
        footer {
           
            color: white; /* White text */
            text-align: center;
            padding: 20px 0; /* Padding for top and bottom */
            position: relative; /* Position footer relative */
            bottom: 0;
            margin-top: auto; /* Push footer to the bottom */
        }

        footer a {
            color: #ffffff; /* White link color */
            text-decoration: none; /* No underline */
        }

        footer a:hover {
            text-decoration: underline; /* Underline on hover */
        }
        /* Loading Overlay */
        #loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Ensure it covers the entire page */
            display: none; /* Hidden initially */
        }
        
        /* Spinner */
        .spinner {
            width: 80px;
            height: 80px;
            border: 8px solid rgba(0, 0, 0, 0.1);
            border-top-color: #007bff; /* Spinner color */
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        
        /* Spinner Animation */
        @keyframes spin {
            to { transform: rotate(360deg); }
        }
        
        /* Loading Text */
        #loading-text {
            margin-top: 20px;
            font-size: 18px;
            color: #007bff;
            font-weight: bold;
            text-align: center;
        }
        .template-button {
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 8px;
            transition: all 0.3s ease;
            
        }
        
        .template-button:hover {
            color: #000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        /* Warna latar belakang dropdown sesuai tombol */
        .dropdown-primary {
            background-color: #8a1703; /* Sesuaikan dengan warna tombol primary */
        }
        
        .dropdown-primary .dropdown-item {
            background-color: #8a1703; /* Warna tombol */
            color: white; /* Warna teks */
        }
        
        .dropdown-primary .dropdown-item:hover {
            background-color: #798101; /* Warna hover lebih gelap */
            color: black; /* Warna teks */
        }
        .dropdown-success{
            background-color: #009130; /* Sesuaikan dengan warna tombol success*/
        }
        
        .dropdown-success .dropdown-item {
            background-color: #009130; /* Warna tombol */
            color: white; /* Warna teks */
        }
        
        .dropdown-success .dropdown-item:hover {
            background-color: #007281; /* Warna hover lebih gelap */
            color: black; /* Warna teks */
        }
        .table-container {
            margin-top: 10;
                padding: 10px;
                border-radius: 15px;
                background: rgba(255, 255, 255, 0.404);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(12px);
                border: 2px solid transparent;
                background-clip: padding-box;
               
                margin-bottom: 20px;
        }
    
        .table-container:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            margin: -4px; /* Efek border gradasi */
            border-radius: 15px;
           
        }
    
        /* Tabel */
        .custom-table {
            width: 100%;
            border-collapse: collapse;
            color: #f8f9fa;
            background-color: transparent; /* Transparansi tabel */
            margin-bottom: 0;
        }
    
        .custom-table thead th {
            background-color: #092653; /* Transparansi header */
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }
    
        .custom-table tbody tr {
            
            transition: all 0.3s ease-in-out;
        }
    
        .table {
                text-align: center;
                overflow: hidden;
            }
    
        .custom-table tbody td {
            background-color: transparent !important; /* Hapus warna putih */
            border: 1px solid rgba(255, 255, 255, 0.603);
            padding: 10px;
            text-align: center;
        }
    
        .custom-table tbody tr:hover {
            background-color: rgba(0, 0, 0, 0.486);
                box-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);
                transform: translateY(-2px);
                color: #fff;
                }
    
        /* Efek warna untuk stok rendah */
        .low-stock {
            background: rgba(255, 0, 0, 0.2);
            color: #ffdddd !important;
            font-weight: bold;
        }
    
        .table th, .table td {
                vertical-align: middle;
                font-size: 1rem;
            }
    
        /* Responsif */
       
    
     /* Navbar Atas (Desktop) */
     .navbar-desktop {
        display: none;
        text-align: center; /* Center text */
       
        backdrop-filter: blur(5px); /* Subtle blur effect */
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 3px 10px;
    }
    
            .navbar-desktop .navbar-brand {
                font-weight: 900;
                font-size: 2rem;
                color: #092653;
                text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease-in-out;
            }
    
            .navbar-desktop .navbar-brand:hover {
                color: #ac0000;
                transform: scale(1.2);
            }
    
            .navbar-desktop .nav-link {
                color: #092653;
                font-size: 1.2rem;
                margin-right: 25px;
                font-weight: 600;
                text-transform: uppercase;
                transition: all 0.3s ease-in-out;
            }
    
            .navbar-desktop .nav-link:hover {
                color: #ac0000;
                text-shadow: 0 3px 8px rgba(255, 221, 87, 0.5);
                transform: translateY(-3px);
            }
    
            /* Navbar Bawah (Mobile) */
            .mobile-navbar {
                position: fixed;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent */
                backdrop-filter: blur(5px); /* Subtle blur effect */
                transition: transform 0.3s, box-shadow 0.3s;
                width: 90%;
                border-radius: 25px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 15px 0;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
                z-index: 100;
                transition: all 0.3s ease-in-out;
            }
    
            .mobile-navbar:hover {
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
            }
    
            .mobile-navbar a {
                color: #092653;
                text-decoration: none;
                text-align: center;
                font-size: 0.95rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
            }
    
            .mobile-navbar a i {
                font-size: 2.2rem;
                margin-bottom: 5px;
                transition: all 0.3s ease-in-out;
            }
    
            .mobile-navbar a:hover i {
                color: #ac0000;
                text-shadow: 0px 4px 10px rgba(255, 221, 87, 0.8);
                transform: scale(1.2) rotate(10deg);
            }
    
            .mobile-navbar a:hover {
                color: #ac0000;
            }
    
            /* Responsive Rules */
            @media (min-width: 992px) {
                .navbar-desktop {
                    display: flex;
                }
    
                .mobile-navbar {
                    display: none;
                }
            }
